*{
    margin-bottom: 10px;
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: hsl(30, 54%, 90%);
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}
.main_contant {
    margin: 0px !important;
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    max-width: 800px;
    padding: 30px;
    border-radius: 16px;
}
.container{
    width: 100%;
}
img{
    border-radius: 12px;
    display: flex;
    width: 100%;
    height: auto;
}
.preparation{
    background-color: #f0f0f077;
    padding: 10px;
    border-radius: 12px;
}
h2{
    color: hsl(14.46deg 45.36% 35.88%);
}
.instruction li strong {
    margin-left: 20px;
    margin-right: 5px;
}
.preparation h2{
    color: hsl(331.81deg 50.92% 31.96%);
}
.preparation ul li{
color: hsl(331.81deg 50.92% 31.96%);
}
    a{
        color: black;
        text-decoration: none;
        
    }
ul li,ol li{
    color: hsl(14.46deg 45.36% 35.88%);
}
tr {
    display: table-row;
    vertical-align:bottom;
    unicode-bidi: isolate;
    border-color:1px solid #ddd;
}
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}